
    <%- include("header")  -%>
    <div class="box" id="heading">
        <h1> <%= listtitle %> </h1>
    </div>
    <div class="box">
        <% for(var i=0;i<newlistitem.length;i++){ %>
            <div class="item">
                <input type="checkbox" name="" id="" >
                <p> <%= newlistitem[i] %></p>
            </div>
           
         <% } %>

         <form class="item" action="/" method="post">
            <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listtitle %>>+</button>
        </form>

    </div>
  <!-- <% if(listtitle == "Saturday" || listtitle == "Sunday"){ %>
        <h1 style="color: purple;">It's a <%= listtitle  %> !</h1> 
  <%  } else { %>
        <h1 style="color: blue;">It's a <%= listtitle  %> !</h1>
  <%  } %> -->
 
 <!-- <ul>
      <li>buy food</li>
      <li>cook food</li>
      <li>eat food</li> -->
      <!-- <li> <%= newlistitem %></li>  
     

   
  </ul>   -->

  <%- include("footer")  -%>
